.details {
  margin-top: 24px;
  --bs-table-border-color: $color-light-grey;
  margin-bottom: 50px;
}

.details__wrapper {
  border: 1px solid $color-light-grey;
  border-radius: 24px;

  @include vp-768 {
    margin: 0 27px;
  }

  @include vp-1200 {
    margin: 0;
  }
}

.details th,
.details td {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  @include vp-768 {
    font-size: 18px;
    line-height: 24px;
  }
}

.details td {
  color: $color-basic-grey;
  vertical-align: middle;
  padding-top: 18px;
  padding-bottom: 20px;

  @include vp-768 {
    padding-top: 25px;
    padding-bottom: 29px;

  }
}

.details th {
  color: $color-table-grey;
  padding-top: 26px;
  padding-bottom: 35px;

  @include vp-768 {
    padding-bottom: 24px;
    text-align: end;
  }

  @include vp-1200 {
    padding-top: 30px;
  }
}

.details th:nth-child(3),
.details td:nth-child(3),
.details tr:last-child td {
  border-bottom: none;

}
.details td:nth-child(3) {
  border-top: 1px solid var(--bs-table-border-color);
}

.details tr:nth-child(9) td {
  border-bottom: none;
}

.details th:nth-child(4),
.details th:nth-child(5),
.details td:nth-child(4),
.details td:nth-child(5) {

  @include mobile {
    @include visually-hidden;
  }

  @include vp-768 {
    text-align: end;
    min-width: 130px;
  }
}

.details td:first-child,
.details th:first-child {
  padding-left: 27px;
  padding-right: 3px;

  @include vp-768 {
    padding-right: 7px;
    text-align: left;
  }

  @include vp-1200 {
    padding-right: 0;

  }
}

.details th:nth-child(2) {
  @include vp-768 {
    text-align: left;
  }
}

.details td:nth-child(2) {
  position: relative;
  padding-left: 32px;

  @include vp-768 {
    padding-left: 68px;
    max-width: 165px;
  }

  @include vp-1200 {
    max-width: none;
  }
}

.details th:nth-child(3),
.details td:nth-child(3) {
  padding-bottom: 0;
  min-width: 100px;

  @include vp-768 {
    padding-bottom: 20px;
    text-align: end;
  }
}

.details th:nth-child(6),
.details td:nth-child(6) {
  padding-right: 28px;

  @include vp-768 {
    text-align: end;
    padding-right: 16px;
  }

  @include vp-1200 {
    padding-right: 34px;
  }
}

.details__sub-row td:nth-child(2),
.details__sub-row th,
.details__sub-row td:first-child,
.details__sub-row th:first-child {
  font-size: 12px;
  line-height: 18px;
  padding-top: 0;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;

  @include vp-768 {
    @include visually-hidden;
  }
}

.details__currency-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @include vp-768 {
    width: 48px;
    height: 48px;
  }
}

.details .details__stonks {
  color: $color-green;
}

.details  .details__not-stonks {
  color: $color-red;
}

.details__button {
  background-color: $color-transparent;
  border: 1.5px solid $color-purple;
  color: $color-purple;
  text-transform: lowercase;
  padding: 10px 15px;
  border-radius: 90px;
  transition: $trans-default;

  @include vp-768 {
    padding: 7px 22px;
    font-size: 16px;
    line-height: 24px;
  }

  @include hover-focus {
    background-color: $color-purple;
    color: $color-default-white;
  }
}
